################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
Proyecto/VentaFacil.web/obj/Debug/net8.0/apphost.exe
Proyecto/VentaFacil.web/obj/Debug/net8.0/ref/VentaFacil.web.dll
Proyecto/VentaFacil.web/obj/Debug/net8.0/refint/VentaFacil.web.dll
