@model VentaFacil.web.Models.Dto.LoginDto
@{
    ViewData["Title"] = "Inicio Sesion";
    Layout = "_LayoutPlantilla";
}

<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Sign in</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="row g-0 auth-row">
                    <div class="col-lg-6">
                        <div class="auth-cover-wrapper bg-primary-100">
                            <div class="auth-cover">
                                <div class="title text-center">
                                    <h1 class="text-primary mb-10">Welcome Back</h1>
                                    <p class="text-medium">
                                        Sign in to your Existing account to continue
                                    </p>
                                </div>
                                <div class="cover-image">
                                    <img src="~/Plantilla/images/auth/signin-image.svg" alt="" />
                                </div>
                                <div class="shape-image">
                                    <img src="~/Plantilla/images/auth/shape.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="signin-wrapper">
                            <div class="form-wrapper">
                                <h6 class="mb-15">Inicio de sesion</h6>
                                <p class="text-sm mb-25">
                                    Start creating the best possible user experience for you
                                    customers.
                                </p>
                                <form asp-action="InicioSesion" asp-controller="Login" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="input-style-1">
                                                <label asp-for="Correo" class="form-label">Correo Electrónico</label>
                                                <input asp-for="Correo" class="form-control" />
                                                <span asp-validation-for="Correo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-12">
                                            <div class="input-style-1">
                                                <label asp-for="Contrasena" class="form-label">Contraseña</label>
                                                <input asp-for="Contrasena" type="password" class="form-control" />
                                                <span asp-validation-for="Contrasena" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <!-- end col -->
                                        <div class="col-xxl-6 col-lg-12 col-md-6">
                                            <div class="form-check checkbox-style mb-30">
                                                <input class="form-check-input" type="checkbox" asp-for="Recordarme" id="checkbox-remember" />
                                                <label class="form-check-label" for="checkbox-remember">
                                                    Recordarme
                                                </label>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-xxl-6 col-lg-12 col-md-6">
                                            <div class="text-start text-md-end text-lg-start text-xxl-end mb-30">
                                                <a href="#" class="hover-underline">
                                                    ¿Olvidaste la contraseña?
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-12">
                                            <div class="button-group d-flex justify-content-center flex-wrap">
                                                <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                                                    Iniciar sesión
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end row -->
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}