# Version Control
**/.git
**/.gitignore
**/.vs
**/.vscode

# Dependencies
**/node_modules
**/bin
**/obj

# Logs and Data
**/logs
**/log
**/*.log
**/npm-debug.log

# Uploads and Secrets
**/uploads
**/secrets
**/keys
**/dataprotection_keys

# Docker specific
**/docker-compose*
**/Dockerfile*
**/.dockerignore
